{% extends "base.html" %}
{% block content %}

<h2>{{ page_title }}</h2>
<p>
    Ronaldo’s father, José Dinis Aveiro, was the equipment manager for the local club Andorinha. (The name Ronaldo was
    added to Cristiano’s name in honour of his father’s favourite movie actor, Ronald Reagan, who was U.S. president at
    the time of Cristiano’s birth.) At age 15 Ronaldo was diagnosed with a heart condition that necessitated surgery,
    but he was sidelined only briefly and made a full recovery. He first played for Clube Desportivo Nacional of Madeira
    and then transferred to Sporting Clube de Portugal (known as Sporting Lisbon), where he played for that club’s
    various youth teams before making his debut on Sporting’s first team in 2002. A tall player at 6 feet 1 inch (1.85
    metres), Ronaldo was a formidable athlete on the pitch. Originally a right-winger, he developed into a forward with
    a free-reined attacking style. He was able to mesmerize opponents with a sleight of foot that made sufficient space
    for openings in opposing defenses.
</p>
{% for member in teams %}



<div class="row featurette">
    {% if loop.index % 2 != 0 %}

    <div class="col-md-7">
        <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
        <p>{{ member.description }}</p>
    </div>
    <div class="col-md-5">
        <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
    </div>

    {% else %}

    <div class="col-md-5">
        <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
    </div>
    <div class="col-md-7">
        <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
        <p>{{ member.description }}</p>
    </div>

    {% endif %}

</div>

{% if loop.index != loop.length %}

<hr class="featurette-divider">

{% endif %}

{% endfor %}

{% endblock %}